@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

:root {
  --darkslategray: hsl(234, 29%, 20%);
  --tomato: hsl(4, 100%, 67%);
  --charcoalgray: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --mainFont: "Roboto", sans-serif;
}
